.background{
    .fundo{
        position: fixed;
        top: 40vh;
        left: 0;
        width: 100vw;
        height: 60vh;
        background-color: mediumaquamarine;
        z-index: -9999;
    }
    h1{
        font-family: 'Bebas Neue', cursive;
        font-size: 54px;
        text-align: center;
        color: darkslategray;
    }
    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: darkslategray;
        p{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 24px;
        }

        .social{
            display: flex;
            flex-direction: column;
            p{
                font-size: 16px;
            }
            .icons{
                align-self: center;
                td{
                    transform: scale(1.2);
                    svg{
                        fill: darkslategray;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 688px) {
    .content{
        position: fixed;
        top: 40vh;
        left: 0;
        width: 100vw;
        height: 60vh;
        p{
            color: white;
        }
    }
  }

  @media only screen and (max-width: 992px) {
    .content{
        position: fixed;
        top: 40vh;
        left: 0;
        width: 100vw;
        height: 60vh;
        p{
            color: white;
        }
    }
  }